header{
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
    margin-top: 2rem;

}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*==============CTA================*/

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*===================HEADER SOCIAL ===============*/

.header__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 10rem;
    bottom: 8rem;
}

.header__social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*===================IMG ===============*/

.personal__image{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

/*===================SCROLL DOWN ===============*/

.scroll__down{
    position: absolute;
    right: 9rem;
    bottom: 10rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*=========== MEDIA QUERY (medium devices ===========*/

@media screen and (max-width:1024px){
    header{
        height: 68vh;
        padding-top: 4rem;
    }
    .personal__image img{
        position: absolute;
        bottom: 4rem;
    }
    .scroll__down{
        
        right: 5rem;

    }
    .header__social{

        left: 6rem;

    }
}

/*=========== MEDIA QUERY (medium devices ===========*/

@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    .personal__image{
        height: 100%; 
        
    }
    .personal__image img{
        width: 60%;
        position: absolute;
        bottom: 20rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__social, .scroll__down{
        display: none;
    }
}